@model HotelViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
}
<div class="d-inline-flex">
    <h2>@Localizer["Edit Hotel"]</h2>
    <form asp-action="Delete" method="post">
        <button class="btn btn-danger mx-3" type="submit">@Localizer["Delete"]</button>
    </form>
</div>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.Hotel.Name">@Localizer["Name"]</label>
        <input asp-for="@Model.Hotel.Name" class="form-control" />
        <span asp-validation-for="@Model.Hotel.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="imageList">@Localizer["Upload images"]</label>
        <input type="file" name="imageList" class="form-control" multiple />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Hotel.Description">@Localizer["Description"]</label>
        <input asp-for="@Model.Hotel.Description" class="form-control" />
        <span asp-validation-for="@Model.Hotel.Description" class="text-danger"></span>
    </div>
    <div class="row">
        <input type="hidden" asp-for="@Model.Hotel.Location.LocationId" />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Hotel.Location.Country">@Localizer["Country"]</label>
                <input asp-for="@Model.Hotel.Location.Country" class="form-control" />
                <span asp-validation-for="@Model.Hotel.Location.Country" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Hotel.Location.Region">@Localizer["Region"]</label>
                <input asp-for="@Model.Hotel.Location.Region" class="form-control" />
                <span asp-validation-for="@Model.Hotel.Location.Region" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Hotel.Location.City">@Localizer["City"]</label>
                <input asp-for="@Model.Hotel.Location.City" class="form-control" />
                <span asp-validation-for="@Model.Hotel.Location.City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Hotel.Location.Address">@Localizer["Address"]</label>
                <input asp-for="@Model.Hotel.Location.Address" class="form-control" />
                <span asp-validation-for="@Model.Hotel.Location.Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Hotel.StarRating">@Localizer["Star rating"]</label>
        <input asp-for="@Model.Hotel.StarRating" class="form-control" />
        <span asp-validation-for="@Model.Hotel.StarRating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Hotel.TimeZoneId">@Localizer["Choose your time zone"]</label>
        <select asp-for="@Model.Hotel.TimeZoneId" class="form-control">
            @foreach (var timeZone in TimeZoneInfo.GetSystemTimeZones())
            {
                <option value="@timeZone.BaseUtcOffset">@timeZone.DisplayName</option>
            }
        </select>
        <span asp-validation-for="@Model.Hotel.TimeZoneId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Hotel.PropertyTypeId">@Localizer["Porperty type"]</label>
        <select asp-for="@Model.Hotel.PropertyTypeId" asp-items="@Model.PropertyTypes" class="form-control"></select>
        <span asp-validation-for="@Model.Hotel.PropertyTypeId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="@Model.Hotel.PropertyType.PropertyTypeId" />
    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
    <a class="btn btn-danger" asp-action="Hotel" asp-route-id="@Model.Hotel.HotelId" role="button">@Localizer["Cancel"]</a>
    <input type="hidden" asp-for="@Model.Hotel.Thumbnail" />
    <input type="hidden" asp-for="@Model.Hotel.ThumbnailUrl" />
</form>


