@model HotelBookingApp.Pages.HotelViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Model.Hotel.Name;
}

<div>
    <h1>@Model.Hotel.Name</h1>
    <div class="d-flex">
        <div>
            @if (Model.Hotel.ThumbnailUrl != null && Model.Hotel.Thumbnail)
            {
                <img class="img-fluid" src="@Model.Hotel.ThumbnailUrl" alt="thumbnail" />
            }
            else
            {
                <img class="img-fluid" src="~/nopic.png" alt="thumbnail" />
            }
        </div>
        <div class="ml-3">
            <div>
                @for (int star = 0; star < @Model.Hotel.StarRating; star++)
                {
                    <i class="fas fa-star text-warning"></i>
                }
            </div>
            <div><b>@Localizer["Hotel type"]:</b> @Localizer[@Model.Hotel.PropertyType.Type]</div>
            <div><b>@Localizer["Address"]:</b> @Model.Hotel.Location.City, @Model.Hotel.Location.Address, @Model.Hotel.Location.Country</div>
        </div>
    </div>
    <div>
        <br />
        <h5>@Localizer["About"] </h5>
        <p>@Model.Hotel.Description</p>
    </div>
    <table class="table">
        <tr>
            <th>@Localizer["Room Name"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Beds in the room"]</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var room in @Model.Hotel.Rooms)
        {
            <tr>
                <td>@room.Name</td>
                <td>$@room.Price</td>
                <td>
                    @foreach (var roomBed in room.RoomBeds)
                    {
                        <ul>
                            <li>@Localizer[@roomBed.Bed.Type]: @roomBed.BedNumber</li>
                        </ul>
                    }
                </td>
                <td>
                    <a asp-controller="Reservations" asp-action="Add"
                       asp-route-hotelId="@Model.Hotel.HotelId"
                       asp-route-roomId="@room.RoomId">
                        @Localizer["Reserve"]
                    </a>
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("HotelManager"))
                    {
                        <a asp-controller="Rooms" asp-action="AddBed"
                           asp-route-hotelId="@Model.Hotel.HotelId"
                           asp-route-roomId="@room.RoomId">
                            @Localizer["Add bed"]
                        </a>
                    }
                </td>
            </tr>
        }
    </table>

    <div class="">
        <a class="btn btn-danger" asp-controller="Home" asp-action="Index" role="button">@Localizer["Go back"]</a>
        @if (User.IsInRole("Admin") || User.IsInRole("HotelManager"))
        {
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Localizer["Options"]
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Hotels" asp-action="Edit" asp-route-id="@Model.Hotel.HotelId" role="button">@Localizer["Edit"]</a>
                <a class="dropdown-item" asp-controller="Rooms" asp-action="Add" asp-route-hotelId="@Model.Hotel.HotelId" role="button">@Localizer["Add room"]</a>
                <a class="dropdown-item" asp-controller="Reservations" asp-action="Index" asp-route-hotelId="@Model.Hotel.HotelId" role="button">@Localizer["Reservations"]</a>
            </div>
        }
    </div>
</div>
<hr />
@{
    Html.RenderPartial("_GalleryPartial");
}

<section>
    <h2>Reviews (@Model.Hotel.AvgReviewRating.ToString("#.##") / @Review.MAX_RATING)</h2>
    @if (!Model.Hotel.Reviews.Any())
    {
        <p>@Localizer["No reviews."]</p>
    }

    <ul>
        @foreach (var review in Model.Hotel.Reviews)
        {
            <li>@review.ApplicationUser.UserName (@review.Rating): @review.Comment</li>
        }
    </ul>

    @if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
        <form asp-controller="Hotels" asp-action="AddReview" method="post">
            <div class="form-group">
                <label asp-for="@Model.Review.Comment">@Localizer["Comment"]</label>
                <textarea asp-for="@Model.Review.Comment" class="form-control" maxlength="@Review.MAX_COMMENT_LEN"></textarea>
                <span asp-validation-for="@Model.Review.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Rating">@Localizer["Rating"]</label>
                <input asp-for="@Model.Review.Rating" class="form-control" min="@Review.MIN_RATING" max="@Review.MAX_RATING"></input>
                <span asp-validation-for="@Model.Review.Rating" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.Review.HotelId" value="@Model.Hotel.HotelId" />
            <button type="submit" class="btn btn-primary">@Localizer["Send"]</button>
        </form>
    }
</section>
