@model HotelBookingApp.Pages.HotelViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Model.Hotel.Name;
}

<h1>@Model.Hotel.Name</h1>

<div>@Localizer["Number of stars"]: @Model.Hotel.StarRating</div>
<div>@Localizer["Hotel type"]: @Model.Hotel.PropertyType.Type</div>
<div>@Localizer["Address"]: @Model.Hotel.Location.City, @Model.Hotel.Location.Address, @Model.Hotel.Location.Country</div>
<div>@Localizer["About"]: <br /> @Model.Hotel.Description</div>
<div>@Localizer["Rooms"]:</div>
<ul>
    @foreach (var room in @Model.Hotel.Rooms)
    {
        <li>
            @room.Name ($@room.Price)
            <a asp-controller="Reservations" asp-action="Add"
               asp-route-hotelId="@Model.Hotel.HotelId"
               asp-route-roomId="@room.RoomId">
                @Localizer["Reserve"]
            </a>
        </li>
    }
</ul>

@if (User.IsInRole("Admin") || User.IsInRole("HotelManager"))
{
    <a class="btn btn-primary" asp-controller="Hotels" asp-action="Edit" asp-route-id="@Model.Hotel.HotelId" role="button">@Localizer["Edit"]</a>
    <a class="btn btn-primary" asp-controller="Rooms" asp-action="Add" asp-route-hotelId="@Model.Hotel.HotelId" role="button">@Localizer["Add room"]</a>
    <a class="btn btn-primary" asp-controller="Reservations" asp-action="Index" asp-route-hotelId="@Model.Hotel.HotelId" role="button">@Localizer["Reservations"]</a>
}
<a class="btn btn-danger" asp-controller="Home" asp-action="Index" role="button">@Localizer["Go back"]</a>

<hr />
<h2>@Localizer["Gallery"]</h2>
<div class="container">
    <div class="row">
        @if (Model.ImageList.Count() == 0)
        {
            <p>@Localizer["No images."]</p>
        }
        @foreach (var image in Model.ImageList)
        {
            <div class="col-md-4 col-lg-3 col-sm-6">
                <img class="img-fluid my-3" src="@image.Path">
                @if (User.IsInRole("Admin") || User.IsInRole("HotelManager"))
                {
                    <form asp-action="DeleteImage" asp-controller="Hotels" asp-route-id="@Model.Hotel.HotelId" method="post">
                        <button class="btn btn-link" type="submit" name="path" value="@image.Path">@Localizer["Delete Image"]</button>
                    </form>
                    <form asp-action="UpdateThumbnail" asp-controller="Hotels" asp-route-id="@Model.Hotel.HotelId" method="post">
                        <button class="btn btn-link" type="submit" name="path" value="@image.Path">@Localizer["Set as thumbnail"]</button>
                    </form>
                }
            </div>
        }
    </div>
</div>
