@model Hotel


<h1>@Model.Name</h1>

<div>Number of stars: @Model.StarRating</div>
<div>The type of the hotel: @Model.PropertyType.Type</div>
<div>The address of the hotel: @Model.Location.City, @Model.Location.Address, @Model.Location.Country</div>
<div>Description about the hotel: <br /> @Model.Description</div>
<div>Rooms in the hotel: @Model.Rooms</div>

@*<button type="submit" class="btn btn-primary">Edit</button>*@
<a class="btn btn-primary" asp-controller="Hotels" asp-action="Edit" asp-route-id="@Model.HotelId" role="button">Edit</a>

<a class="btn btn-primary" asp-controller="Hotels" asp-action="Room" asp-route-id="@Model.HotelId" role="button">Add room</a>