@model IndexPageView

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home"];
}

<div class="row">
    <div class="col-md-3">
        <div class="card sticky-top">
            <h5 class="card-header">@Localizer["Search"]</h5>
            <div class="card-body">
                <form asp-action="@Model.ActionName" class="form-group flex-nowrap" method="get">
                    <div class="form-group">
                        <label asp-for="@Model.QueryParams.GuestNumber">@Localizer["Guest Number"]</label>
                        <input asp-for="@Model.QueryParams.GuestNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.QueryParams.Search">@Localizer["City"]</label>
                        <input asp-for="@Model.QueryParams.Search" class="form-control" />
                        <input type="hidden" asp-for="@Model.QueryParams.OrderBy" />
                        <input type="hidden" asp-for="@Model.QueryParams.Desc" />
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
                        <a asp-action="@Model.ActionName" class="btn btn-danger" role="button">@Localizer["Clear filters"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <h2>@Localizer["List of Hotels"]</h2>

        <table class="table">
            <tr>
                <th></th>
                <th>
                    <a asp-action="@Model.ActionName"
                       asp-route-orderBy="Name"
                       asp-route-desc="@Model.QueryParams.NextDesc"
                       asp-route-pageSize="@Model.QueryParams.PageSize"
                       asp-route-currentPage="@Model.QueryParams.CurrentPage"
                       asp-route-search="@Model.QueryParams.Search">
                        @Localizer[@Html.DisplayNameFor(model => model.Hotels.First().Name)]
                    </a>
                </th>
                <th>
                    <a asp-action="@Model.ActionName"
                       asp-route-orderBy="Description"
                       asp-route-desc="@Model.QueryParams.NextDesc"
                       asp-route-pageSize="@Model.QueryParams.PageSize"
                       asp-route-currentPage="@Model.QueryParams.CurrentPage"
                       asp-route-search="@Model.QueryParams.Search">
                        @Localizer[@Html.DisplayNameFor(model => model.Hotels.First().Description)]
                    </a>
                </th>
                <th>
                    @Localizer[@Html.DisplayNameFor(model => model.Hotels.First().Location.City)]
                </th>
            </tr>

            @foreach (var hotel in Model.Hotels)
            {
                <tr>
                    <td>
                        @if (hotel != null && hotel.Thumbnail)
                        {
                            <img src="@hotel.ThumbnailUrl?" + DateTime.Now.ToString("ddyyhhmmss") />
                        }
                        else
                        {
                            <img src="~/nopic.png" width="200" height="200" />
                        }
                    </td>
                    <td>
                        <a asp-controller="Hotels" asp-action="Hotel" asp-route-id="@hotel.HotelId">@hotel.Name</a>
                        <div class="text-center">
                            @for (int star = 0; star < hotel.StarRating; star++)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }
                        </div>
                    </td>
                    <td>@hotel.ShortDescription</td>
                    <td>@hotel.Location.City</td>
                    <td>
                        @if ((User.IsInRole("Admin") || User.IsInRole("HotelManager")) && Model.ActionName == "MyHotels")
                        {
                            <a asp-controller="Reservations" asp-action="Index" asp-route-hotelId="@hotel.HotelId" role="button">@Localizer["Reservations"]</a>
                        }
                    </td>
                </tr>
            }

        </table>

        @if (!Model.Hotels.Any())
        {
            <div class="text-center">
                <p>@Localizer["No results found!"]</p>
            </div>
        }

        <div class="pagintaion-row">
            @for (int i = 1; i <= Model.Hotels.TotalPages; i++)
            {
                <a role="button" class="btn btn-primary"
                   asp-action="@Model.ActionName"
                   asp-route-orderBy="@Model.QueryParams.OrderBy"
                   asp-route-desc="@Model.QueryParams.Desc"
                   asp-route-pageSize="@Model.QueryParams.PageSize"
                   asp-route-search="@Model.QueryParams.Search"
                   asp-route-currentPage="@i">@i</a>
            }
        </div>
    </div>
</div>
