@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model SettingViewModel

@{
    ViewData["Title"] = "Settings";
    var user = await UserManager.GetUserAsync(User);
}

<h2>@Localizer["Settings"]</h2>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" class="form-horizontal" asp-controller="Home" asp-action="SetLanguage" asp-route-user="@User.Identity" method="post" role="form">
        <div class="form-group">
            <label asp-for="@requestCulture.RequestCulture.UICulture.Name">@Localizer["Language"]</label>
            <select name="culture" onchange="this.form.submit();" asp-for="@requestCulture.RequestCulture.UICulture.Name"
                    asp-items="cultureItems" class="form-control" title="@Localizer["Select a language"]"></select>
        </div>
    </form>
</div>

<div class="mx-auto col-md-6 p-3">
    <div class="card">
        <div class="card-header">
            <h2>Change Password</h2>
        </div>
        <div class="card-body">
            <form asp-controller="" asp-action="" method="post">
                <div class="form-group">
                    <label asp-for="Password">@Localizer["Password"]</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">@Localizer["New Password"]</label>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VerifyPassword">@Localizer["Verify new Password"]</label>
                    <input asp-for="VerifyPassword" type="password" class="form-control" placeholder="VerifyPassword" />
                    <span asp-validation-for="VerifyPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary btn-block">@Localizer["Save"]</button>
                </div>
                @*@foreach (var error in Model.ErrorMessages)
                {
                    @if(error != null) { 
                    <span class="text-danger">@error</span>
                    }
                }*@
            </form>
        </div>
    </div>
</div>