@inject IViewLocalizer Localizer
@model PasswordResetRequest

@{
    ViewData["Title"] = @Localizer["Reset Password"];
}
<div class="mx-auto col-md-6 p-3">
    <div class="card">
        <div class="card-header">
            <h2>@Localizer["Reset Password"]</h2>
        </div>
        <div class="card-body">
            <form asp-controller="Account" asp-action="ResetPasswordrequest" method="post">
                <div class="form-group">
                    <label asp-for="Email">@Localizer["Fill in your e-mail"]</label>
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @foreach (var error in @Model.ErrorMessages)
                {
                    <span class="text-danger">@error</span>
                }
                @foreach (var msg in @Model.SuccessMessage)
                {
                    <span class="text-info">@msg</span>
                }
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary">@Localizer["Send"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
