@inject IViewLocalizer Localizer
@model ReservationViewModel
@{
    ViewData["Title"] = @Localizer["Confirmation"];
}

<h2>@Localizer["Confirm Reservation"]</h2>

<form asp-controller="Rooms" asp-action="ConfirmReservation" method="post">
    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
    <a class="btn btn-danger" role="button"
       asp-controller="Rooms" asp-action="NewReservation"
       asp-route-hotelId="@Model.HotelId" asp-route-roomId="@Model.RoomId">@Localizer["Go back"]</a>
</form>


