@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "Reservations";
}

<h2>Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>guests</th>
            <th>room</th>
            <th>confirmed</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.ReservationId</td>
            <td>@r.GuestNames (@r.GuestNumber)</td>
            <td>@r.Room.Name</td>
            <td>@r.IsConfirmed</td>
            <td>@r.AppicationUser.Email</td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-danger" asp-controller="Hotels" asp-action="Hotel" asp-route-id="@Model.FirstOrDefault().Room.HotelId" role="button">Go back</a>