@model ReservationViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Confirmation"];
}

<h2>@Localizer["Confirm Reservation"]</h2>

<div>@Localizer["Room"]: @Model.Reservation.Room.Name</div>
<div>@Localizer["Price"]: @Model.Reservation.Room.Price</div>
<div>@Localizer["Number of guests"]: @Model.Reservation.GuestNumber</div>
<div>@Localizer["Full name of guests"]: @Model.Reservation.GuestNames</div>
<div>@Localizer["Number of nights"]: @Model.Reservation.NumberOfNights</div>

<div>
    @Localizer["Date"]: @String.Format("{0:yyyy/MM/dd}", Model.Reservation.FromDate)
    -
    @String.Format("{0:yyyy/MM/dd}", Model.Reservation.ToDate)
</div>

<form asp-controller="Reservations" asp-action="Confirm" method="post">
    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
    <a class="btn btn-danger" role="button"
       asp-controller="Reservations" asp-action="Edit">@Localizer["Go back"]</a>
</form>


