@model ReservationViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Reservations"];
}

    <h2>@Localizer["Reservations"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Id"]</th>
            <th>@Localizer["Guests"]</th>
            <th>@Localizer["Room"]</th>
            <th>@Localizer["Confirmed"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["Start"]</th>
            <th>@Localizer["End"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Reservations)
        {
            <tr>
                <td>@r.ReservationId</td>
                <td>@r.GuestNames (@r.GuestNumber)</td>
                <td>@r.Room.Name</td>
                <td>@r.IsConfirmed</td>
                <td>@r.ApplicationUser.Email</td>
                <td>@String.Format("{0:yyyy/MM/dd}", r.FromDate)</td>
                <td>@String.Format("{0:yyyy/MM/dd}", r.ToDate)</td>
                <td>
                    @if (r.IsCancelable)
                    {
                        <form asp-controller="Reservations" asp-action="Confirm" method="post">
                            <input type="hidden" name="reservationId" value="@r.ReservationId" />
                            <input type="hidden" name="hotelId" value="@Model.HotelId" />
                            <button type="submit" class="btn btn-danger">@Localizer["Cancel"]</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Reservations.Any())
{
    <div class="text-center">
        <p>@Localizer["No results found!"]</p>
    </div>
}

<a class="btn btn-danger" href='javascript:history.go(-1)' role="button">@Localizer["Go back"]</a>