@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "Reservations";
}

<h2>Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>guests</th>
            <th>room</th>
            <th>confirmed</th>
            <th>email</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.ReservationId</td>
                <td>@reservation.GuestNames (@reservation.GuestNumber)</td>
                <td>@reservation.Room.Name</td>
                <td>@reservation.IsConfirmed</td>
                <td>@reservation.ApplicationUser.Email</td>
                <td>
                    @String.Format("{0:yyyy/MM/dd}", reservation.FromDate)
                    -
                    @String.Format("{0:yyyy/MM/dd}", reservation.ToDate)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <div class="text-center">
        <p>No results found!</p>
    </div>
}

<a class="btn btn-danger" href='javascript:history.go(-1)' role="button">Go back</a>