@model IndexPageView

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-3">
        <h2>List of Hotels</h2>
    </div>
    <div class="col-md-9 d-flex justify-content-end">
        <form asp-action="Index" class="form-inline flex-nowrap" method="get">
            <input asp-for="@Model.QueryParams.Search" class="form-control" />
            <input type="hidden" asp-for="@Model.QueryParams.OrderBy" />
            <input type="hidden" asp-for="@Model.QueryParams.Desc" />
            <button type="submit" class="btn btn-default mx-2">Search by city</button>
        </form>
        <form asp-action="Index" class="form-inline" method="get">
            <button type="submit" class="btn btn-danger">Clear filters</button>
        </form>
    </div>
</div>

<table class="table">
    <tr>
        <th></th>
        <th>
            <a asp-action="Index"
               asp-route-orderBy="Name"
               asp-route-desc="@Model.QueryParams.NextDesc"
               asp-route-pageSize="@Model.QueryParams.PageSize"
               asp-route-currentPage="@Model.QueryParams.CurrentPage"
               asp-route-search="@Model.QueryParams.Search">
                @Html.DisplayNameFor(model => model.Hotels.First().Name)
            </a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-orderBy="Description"
               asp-route-desc="@Model.QueryParams.NextDesc"
               asp-route-pageSize="@Model.QueryParams.PageSize"
               asp-route-currentPage="@Model.QueryParams.CurrentPage"
               asp-route-search="@Model.QueryParams.Search">
                @Html.DisplayNameFor(model => model.Hotels.First().Description)
            </a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-orderBy="Price"
               asp-route-desc="@Model.QueryParams.NextDesc"
               asp-route-pageSize="@Model.QueryParams.PageSize"
               asp-route-currentPage="@Model.QueryParams.CurrentPage"
               asp-route-search="@Model.QueryParams.Search">
                @Html.DisplayNameFor(model => model.Hotels.First().Price)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotels.First().Location.City)
        </th>
    </tr>

    @foreach (var hotel in Model.Hotels)
    {
        <tr>
            <td>
                @if (hotel != null && hotel.Thumbnail)
                {
                    <img src="@hotel.ThumbnailUrl" />
                }
                else
                {
                    <img src="~/nopic.png" width="200" height="200" />
                }
            </td>
            <td><a class="nav-link" asp-controller="Hotels" asp-action="Hotel" asp-route-id="@hotel.HotelId">@hotel.Name</a></td>
            <td>@hotel.Description</td>
            <td>@hotel.Price</td>
            <td>@hotel.Location.City</td>
        </tr>
    }

</table>

@if (!Model.Hotels.Any())
{
    <div class="text-center">
        <p>No results found!</p>
    </div>
}

<div class="pagintaion-row">
    @for (int i = 1; i <= Model.Hotels.TotalPages; i++)
    {
        <a role="button" class="btn btn-primary"
           asp-action="Index"
           asp-route-orderBy="@Model.QueryParams.OrderBy"
           asp-route-desc="@Model.QueryParams.Desc"
           asp-route-pageSize="@Model.QueryParams.PageSize"
           asp-route-search="@Model.QueryParams.Search"
           asp-route-currentPage="@i">@i</a>
    }
</div>