@model IndexPageView

@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-between">
    <h2>List of Hotels</h2>
    <div class="d-flex">
        <form asp-action="Index" class="form-inline" method="get">
            <div class="form-group">
                <input asp-for="@Model.QueryParams.Search" class="form-control" />
            </div>
            <input type="hidden" asp-for="@Model.QueryParams.OrderBy" />
            <input type="hidden" asp-for="@Model.QueryParams.Desc" />
            <button type="submit" class="btn btn-default mx-2">Search by city</button>
        </form>
        <form asp-action="Index" class="form-inline" method="get">
            <button type="submit" class="btn btn-danger">Clear filters</button>
        </form>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-orderBy="Name"
               asp-route-desc="@Model.QueryParams.NextDesc"
               asp-route-pageSize="@Model.QueryParams.PageSize"
               asp-route-currentPage="@Model.QueryParams.CurrentPage"
               asp-route-search="@Model.QueryParams.Search">
                @Html.DisplayNameFor(model => model.Hotels.First().Name)
            </a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-orderBy="Description"
               asp-route-desc="@Model.QueryParams.NextDesc"
               asp-route-pageSize="@Model.QueryParams.PageSize"
               asp-route-currentPage="@Model.QueryParams.CurrentPage"
               asp-route-search="@Model.QueryParams.Search">
                @Html.DisplayNameFor(model => model.Hotels.First().Description)
            </a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-orderBy="Price"
               asp-route-desc="@Model.QueryParams.NextDesc"
               asp-route-pageSize="@Model.QueryParams.PageSize"
               asp-route-currentPage="@Model.QueryParams.CurrentPage"
               asp-route-search="@Model.QueryParams.Search">
                @Html.DisplayNameFor(model => model.Hotels.First().Price)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotels.First().Location.City)
        </th>
    </tr>

    @foreach (var hotel in Model.Hotels)
    {
        <tr>
            <td>@hotel.Name</td>
            <td>@hotel.Description</td>
            <td>@hotel.Price</td>
            <td>@hotel.Location.City</td>
        </tr>
    }

</table>

<div class="pagintaion-row">
    @for (int i = 1; i <= Model.Hotels.TotalPages; i++)
    {
        <a role="button" class="btn btn-primary"
           asp-action="Index"
           asp-route-orderBy="@Model.QueryParams.OrderBy"
           asp-route-desc="@Model.QueryParams.Desc"
           asp-route-pageSize="@Model.QueryParams.PageSize"
           asp-route-search="@Model.QueryParams.Search"
           asp-route-currentPage="@i">@i</a>
    }
</div>